<div id="<%= controller %>">
  <div class="row">
    <div class="col-md-6">
      <%= render "user_types" %>
    </div>

    <div class="col-md-6">
      <%= render "locations" %>
    </div>
  </div>
</div>
